@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Inter:wght@400;700&family=Jua&family=Montserrat+Alternates:wght@400;900&display=swap');

body {
  font-family: 'Inter', 'Montserrat Alternates', sans-serif;
}

input {
  outline: none;
  width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
